/* Custom Css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

/* globals */
.bg-primary {
  background-color: white!important; 
  font-weight: bold;
  margin-bottom: 20px;
}
.fixed-top {
  position: sticky!important;
  top: 0px;
  z-index: 1000;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.15);
}
.bg-dark {
  background-color: white!important;
}

.btn-primary {
  color: #fff;
  background-color: #2874f0!important;
  border-color: #2874f0!important;
}
.nav-item > .active {
  border-bottom: 2px solid black;
}

button:focus {
  outline: none!important;
}
.navbar-dark .navbar-toggler {
  color: black!important;
  border-color:black!important;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
}
/* Media Queries*/
@media (min-width: 992px){
  .navbar-expand-lg {
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -ms-flex-pack: start;
      justify-content: flex-start;
  }
}




